.polaroidWrapper {
  position: absolute;
  transition: ease-out 0.1s;
}

.polaroidWrapper:hover {
  z-index: 2;
  transition: ease-out 0.1s;
}

.polaroid {
  width: 250px;
  height: 300px;
  /* background-color: #f5f5f5; */

  background: linear-gradient(to right, rgb(255, 255, 255), rgb(227, 227, 227)),
    url(https://grainy-gradients.vercel.app/noise.svg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  transition: ease-in 0.36s;
  animation: animate 20s linear infinite;

  transform: scale(0.85);
  filter: brightness(0.5);
}

.polaroid:hover {
  transform: scale(1.1);
  box-shadow: -20px -20px 30px -25px #5079f299, 20px 20px 30px -25px #5079f2a0,
    -7px -7px 10px -5px #46237a, 7px 7px 10px -5px #256eff87,
    0 0 13px 4px rgba(255, 255, 255, 0.1),
    0 55px 35px -20px rgba(255, 255, 255, 0.1);
  filter: none;
}

.polaroid:hover .polaroidImage img {
  filter: brightness(110%);
}

.polaroidImage {
  width: 240px;
  height: 240px;
  margin-top: 5px;
  background-color: black;

  object-fit: cover;
  object-position: center;
  /* z-index: 1; */
}

.polaroidImage img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  /* filter: blur(2px); */
}

.polaroidText {
  font-family: "Permanent Marker";
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  color: black;
  margin-bottom: 10px;
}

.polaroid .rowFull {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 240px;
  overflow: scroll;
}

.techStacksRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;

  margin-bottom: 15px;
  margin-left: 5px;
}

.techStack {
  height: 20px;
  width: 20px;
  /* background-color: #fbffe8; */
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  filter: grayscale();
}

.polaroid:hover .techStack {
  filter: none;
}

.techStack img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
