.container {
  min-height: 328px;

  padding: 0.2em 2em;
  margin: 2em 0;
  width: 100%;
  background: #f4f4f4;
  border: solid 2px rgb(20, 20, 20);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: ease-in 0.2s;
}

.header {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 400;
  font-size: 24px;
}

.header .year {
  font-style: inherit;
  font-size: 16px;
  color: rgb(20, 20, 20);
}

.title {
  text-align: right;
}

.content {
  font-weight: 300;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.content .image {
  width: 400px;
  height: 210px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  border: solid 2px rgb(20, 20, 20);
  border-radius: 8px;
  transition: ease-in 0.2s;
  /* filter: grayscale(100%); */
  /* background-color: rgba(212, 212, 212, 0.8); */
}

.content img {
  opacity: 0.5;
}

.content .image:hover {
  scale: 1.05;
  filter: grayscale(0%);
  background-blend-mode: normal;
  box-shadow: rgba(38, 57, 77, 0.419) 0px 20px 30px -10px;
}

.content .body {
  margin-top: -20px;
  margin-left: 60px;

  max-width: 60%;
  min-width: 60%;
  font-size: 16px;
}

.tool {
  margin-top: 2em;
  margin-bottom: 0.2em;
}

.link {
  margin-top: 1em;
  margin-left: auto;
  transition: ease-in 0.2;
}

.link :hover {
  color: rgb(101, 101, 101);
}

.link a {
  font-weight: 300;
  transition: ease-in-out 0.5;
}

.stacks {
  /* display: grid;
  grid-template-columns: auto auto auto;
  max-width: 64%; */
  display: flex;
  flex-direction: row;
  gap: 2em;
  /* margin-bottom: 4em; */
}

.stack {
  font-weight: 200;
}

.highlighted {
  /* background: radial-gradient(
    circle at 10% 20%,
    rgba(163, 175, 243, 0.5) 40%,
    rgba(220, 182, 232, 0.5) 60%
  ); */
  background-size: 200% 200%;
  animation: gradient 4s ease infinite;
  padding: 0.4em 1em;
  transition: ease-out 0.2s;
  border: 2px solid rgb(20, 20, 20);
  border-radius: 16px;
  user-select: none;
  color: rgb(20, 20, 20);
}

.highlighted:hover {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(163, 175, 243) 40%,
    rgba(220, 182, 232) 60%
  );
  background-size: 200% 200%;
  animation: gradient 4s ease infinite;
  padding: 0.4em 1em;
  color: #f4f4f4;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    height: 320px;
  }

  .header {
    width: 280px;
  }
  .content .image {
    width: 280px;
    height: 140px;
  }

  .content .body {
    font-size: 14px;
  }

  .stacks {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 64%;
    align-items: center;
    margin: 2em auto;
    height: 220px;
  }

  .header {
    width: 280px;
    margin: 0 auto;
  }

  .content {
    justify-content: center;
  }

  .header .year {
    font-size: x-small;
  }

  .content .image {
    width: 280px;
    height: 150px;
    background-size: cover;
    background-position: center;
  }

  .content .body {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 300px;
    height: 188px;
    margin: 2em auto;
    margin-bottom: 5em;
  }

  .header {
    width: 240px;
    margin: 0 auto;
    font-size: 16px;
  }

  .content {
    justify-content: center;
  }

  .content .image {
    width: 240px;
    height: 120px;
    background-size: cover;
    background-position: center;
  }

  .content .body {
    display: none;
  }
}
