.nav {
  height: 100px;
  width: 90%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 10;

  /* padding-top: 2em; */
  /* padding-bottom: 2em; */
}

.nav .left {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.nav .navitem {
  font-size: 28px;
  font-family: monospace;
  cursor: pointer;

  transition: ease-in-out 0.3s;
  cursor: url("/static/assets/cursor/pointer.svg"), pointer;
}

.nav .navitem:hover {
  /* color: #00a017; */
  transform: translateY(-20%);
}

.navitem.active {
  text-decoration: underline #0029ff;
}
