.content {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.showcaseWrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  transition: ease-in 0.1s;
}

@media screen and (max-width: 960px) {
  .showcaseWrapper {
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
  }
}

.o :hover {
  font-size: 60px;
}

.canvas canvas {
  min-height: 60vh;
  max-width: 100vw;
}

.kurubu {
  text-align: center;
  transition: ease-in 0.2s;
  margin-top: 1em;
  font-size: small;
}

.kurubu h1 {
  font-weight: 300;
  margin-bottom: -0.32em;
  transition: ease-in 0.2s;
  opacity: 0.5;
}

.kurubu h1:hover {
  transform: scale(1.025) translateY(-8px);
  opacity: 1;
}

.kurubu p {
  font-weight: 200;
}

.spline {
  height: 420px;
  scale: 0.8;
  margin-top: -8em;
  margin-bottom: -4em;
}
