.aboutBox {
  width: 75%;
  height: 700px;

  border-radius: 20px;
  border: 1px solid rgb(45, 45, 45);

  margin-top: 100px;
  margin-bottom: 100px;

  position: relative;

  transition: ease-in 0.5s;
}

.aboutBox:hover {
  border: 1px solid rgb(97, 97, 97);
  transition: ease-in 0.5s;
}

.pokemonCardWrapper {
  position: absolute;

  top: 32%;
  left: 5%;
  transition: ease-in 0.25s;
  z-index: 10;
  transform: scale(1.15) rotate(-10deg);
}

.pokemonCardWrapper:hover {
  transform: scale(1.3) rotate(5deg);
}

.aboutNote {
  position: absolute;
  width: 250px;
  height: 400px;
  background-color: white;
  color: black;
  padding: 20px;
}

.aboutNote.skill {
  left: 37.5%;
  top: 25%;
  width: 300px;

  z-index: 2;
}

.aboutNote.exp {
  background-color: #0029ff;
  color: white;
  top: 5%;
  right: 2.5%;

  height: 85%;

  z-index: 3;
}

.aboutNote.edu {
  background-color: #011a97;
  color: white;
  bottom: 2%;
  right: -2.5%;
  width: 500px;
  height: 150px;

  z-index: 4;
}

.aboutNote h3 {
  opacity: 0.5;
  text-align: center;
}

.aboutNote.edu h3 {
  text-align: start;
}

.aboutNote h4 {
  font-size: 16px;
}

.aboutNote h5 {
  font-size: 12px;
  margin-top: -1.5em;
  margin-bottom: 0.5em;
}

.aboutNote .caption {
  font-weight: 300;
  font-size: 10px;
}

.aboutNote .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  transform: scale(1.5) rotate(5deg);
  position: absolute;
  left: 12.5%;

  z-index: 1;
}

.logo .circle {
  position: absolute;
  right: 0;
}

.pokemonCardWrapper:hover .logo circle {
  fill: white;
  color: white;
}

@media screen and (max-width: 1080px) {
  .aboutNote.skill {
    left: 10%;
    top: 35%;
    width: 250px;
    z-index: 2;
  }

  .aboutNote.edu {
    background-color: #011a97;
    color: white;
    bottom: -4%;
    right: -2.5%;
    width: 500px;
    height: 150px;
    z-index: 4;
  }

  .aboutNote.exp {
    background-color: #0029ff;
    color: white;
    top: 5%;
    right: -8%;
    height: 50%;
    z-index: 3;
  }

  .pokemonCardWrapper {
    position: absolute;
    top: -8%;
    left: -5%;
    transition: ease-in 0.25s;
    z-index: 10;
    transform: scale(0.8) rotate(-10deg);
  }
}

@media screen and (max-width: 600px) {
  .aboutBox {
    height: 300px;
  }
  .aboutNote.skill {
    transform: scale(0.5);
    top: 0%;
    left: -10%;
  }

  .aboutNote.edu {
    transform: scale(0.5);
    top: 70%;
    left: -30%;
    height: fit-content;
  }

  .aboutNote.exp {
    transform: scale(0.5);
    top: -40%;
    left: 15%;
    height: fit-content;
  }

  .pokemonCardWrapper {
    transform: scale(0.4);
    top: -40%;
    left: -30%;
    height: fit-content;
  }

  .logo {
    display: none;
  }
}

/* .container {
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  width: 90%;
  margin: auto;
}

.left {
  max-width: 48%;
  width: 48%;
}

.left p {
  max-width: 400px;
}

.left .image {
  width: 400px;
  height: 480px;
  background: rgb(228, 228, 228);
  margin-bottom: 26px;
  margin-top: 20px;
  background-size: cover;
}

.left a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  text-decoration-line: underline;
  color: #646464;
}

.right {
  max-width: 48%;
  width: 48%;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
}

.grouptitle {
  margin-bottom: 0.4em;
}

.groupitems p {
  margin-bottom: -0.8em;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .left .image {
    width: 100%;
    height: 50%;
    align-self: auto;
    margin: 1em 0;
    background-position: center;
  }

  .container {
    font-size: large;
  }
} */
