html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  color: white;
  background-color: #1c1c1c;
  cursor: url("/static/assets/cursor/custom-cursor.png"), auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url("/static/assets/cursor/custom-cursor-pointer.png"), pointer;
}

/* 
* {
  box-sizing: border-box;
} */

/* @media screen and (max-width: 1024px) {
  * {
    font-size: small;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: smaller;
  }
} */
